<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nb.scode.bukumigas">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="nb.scode.bukumigas.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_open_book"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value="ru.ifsoft.mynews.SearchActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="nb.scode.bukumigas.service.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="nb.scode.bukumigas.AppActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <service
            android:name="nb.scode.bukumigas.service.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="nb.scode.bukumigas.MainActivity"
            android:label="@string/title_activity_feeds" />
        <activity
            android:name=".ViewBookActivity"
            android:theme="@style/MyMaterialTheme.Base"/>
        <activity
            android:name="nb.scode.bukumigas.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="nb.scode.bukumigas.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="nb.scode.bukumigas.SupportActivity"
            android:label="@string/title_activity_support"
            android:theme="@style/MyMaterialTheme" />

        <activity
            android:name="nb.scode.bukumigas.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/MyMaterialTheme" />

       <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3dc92bea8ba889248d66cca64e20a50e8b8e81d5" />
         <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3dc92bea8ba889248d66cca64e20a50e8b8e81d5" />
    </application>

</manifest>
